body {
    color: #40514E;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    
 }
 h1 {
    color: #66BFBF;
    font-size: 2.8rem;
    margin: 0 auto 0 auto;
    font-family: 'Sacramento', cursive;
    text-align: center;
  }
  h2 {
    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    padding-bottom: 10px;
    text-align: center;
  }
  h3 {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
  }
  p { 
      line-height: 2;
      font-size: 20px;
  }

#top-container {
    margin: 0;
    background-color: #E4F9F5;
    position: relative;
    padding-top: 100px;
}
#middle-container {
    width: 50%;
    margin: 0px auto 100px auto;
    text-align: left;
    
}
#bottom-container{
    background-color: #81e9d6;
    position: relative;
    

}
.webDevelopment {
    margin-top: 60px;
}
.mobileDevelopment {
    margin-top: 80px;
    margin-bottom: 100px;
}
.contact {
    text-align: center;
}

.web {
    text-decoration: underline;

}
.web:hover {
    color:chocolate;
}
.cloud1 {
    position: absolute;
    top: 50%;
    left: 20%;

}
.cloud2 {
    position: absolute;
    top: 10%;
    right: 20%;
}

.myImage {
    width: 200px;
    border-radius: 50%;
    margin-top: 100px;
    
}

.webImage {
    width: 25%;
    float: right;
    margin-left: 30px;
    width: 200px;
    border-radius: 50%;
}

.mobileImage {
    width: 25%;
    float: left;
    margin-right: 30px;
    width: 200px;
    border-radius: 50%;
}
li {
    display: inline-block;
    list-style-type: none;
    padding: 3rem 3rem 1rem 3rem;
    font-size: 18px;
    
}
a {
    color: rgb(23, 158, 140);
}
a:hover {
    color: rgb(41, 104, 223);
}

.copyright{
    margin-bottom: 0;
    font-size: 14px;
    padding-bottom: 1rem;
}
.btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ebe8df;
    font-size: 21px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }